form {
    width: 40%;
    margin: 3em auto;
    text-align: center;
}

fieldset {
    border-radius: 0.3em;
    padding: 0.8em;
    background-color: #ffffff;
}

h2 {
    padding-top: 0;
}

p:last-child {
    padding-bottom: 0;
}

input {
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    border-left: 0.3em solid #42a948;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

select {
    border-color: black;
}

button {
    background-color: #4ebced;
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    width: 60%;
}

i {
    border: 1px solid;
    border-right: none;
    padding: 0.55em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: #e9ecef;
}

a {
    color: #007bff;
}

.tel {
    padding-right: 0.8em;
}

form .field {
    display: flex;
}