.container {
    width: 90%;
    margin: auto;
    padding-bottom: 4.5em;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-width {
    margin: 0;
    padding: 0;
    flex-basis: 70%;
}

main {
    display: flex;
    flex-direction: column;
}

.main {
    margin: 1em;
    display: flex;
}

.theme-title {
    width: 100%;
}

.comment {
    margin-top: 1em;
    border: 1px solid;
    border-radius: 0.3em;
    width: 100%;
    padding: 1em;
}

.comment p {
    padding-left: 1em;
}

.comment header p {
    padding: 0.3em;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px dashed;
    margin-right: 0;
}

.userdetails {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.userdetails span {
    margin-bottom: 1em;
}

.userdetails div {
    border: 1px solid;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.userdetails img {
    width: 80%;
    padding: 0;
    align-self: center;
    margin: 1em 0;
}

.footer {
    font-size: 1.5em;
    border-top: 1px dashed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em 0.5em 0 0;
    color: rgb(0, 128, 182);
}

.footer i {
    background-color: #ffffff;
    border: none;
}

.footer button {
    color:rgb(0, 128, 182);
    border: none;
}

.footer button:hover {
    cursor: pointer;
}

.footer p {
    padding: 0 1em;
}