.container {
    width: 90%;
    margin: auto;
    padding-bottom: 4.5em;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-width {
    margin: 0;
    padding: 0;
    flex-basis: 70%;
}

main {
    display: flex;
    flex-direction: column;
}

.theme-title {
    width: 100%;
}

// answer-comment

.answer-comment {
    width: 100%;
    display: flex;
    margin-top: 1em;
}

.answer-comment p {
    flex-basis: 15%;
}

.answer {
    border: 1px solid;
    border-radius: 0.3em;
    flex-basis: 85%;
    text-align: center;
}

.answer button {
    background-color: #333333;
    color: white;
    margin: 0.5em 1em;
    padding: 0.2em 1em;
    border: 1px solid;
    border-radius: 0.3em;
}

.answer button:hover {
    cursor: pointer;
}
