<!-- homepage -->
<div class="container">
    <!-- myPath component  -->
    <myPath />
    <main>
        <div class="theme-title">
            <!-- theme component  -->
            <Theme />
        </div>
        <!-- comment component  -->
        <Comment />

        <div class="answer-comment">
            <p>username</p>
            <div class="answer">
                <form @submit.prevent="publishComment">
                    <vue-editor class="editor" v-model="content"></vue-editor>
                    <button>Публикувай</button>
                </form>
            </div>
        </div>
    </main>
</div>