<!-- homepage -->
<div class="container">
    <!-- myPath component  -->
    <myPath />
    <main>
        <div class="theme-title">
            <!-- theme component  -->
            <Theme />
        </div>
        <!-- comment component  -->
        <Comment/>

        <div class="answer-comment">
            <p>username</p>
            <div class="answer">
                <vue-editor class="editor"></vue-editor>
                <button>Публикувай</button>
            </div>
        </div>
    </main>
</div>