<!-- homepage -->
<div class="container">
    <!-- myPath component  -->
    <myPath />
    <main>
        <div class="theme-title">
            <!-- theme component  -->
            <Theme v-bind:theme="theme" />

        </div>
        <!-- comment component  -->
        <template v-for="(comment, index) in theme.comments">
            <Comment 
            v-bind:comment="comment"
            v-bind:key="comment.name"
            v-bind:themeId="id"
            v-bind:commentId="index"
            />
        </template>

        <div class="answer-comment">
            <p><span>{{currentUser}}</span> comment:</p>
            <div class="answer">
                <form @submit.prevent="publishComment">
                    <vue-editor class="editor" v-model="content"></vue-editor>
                    <button>Публикувай</button>
                </form>
            </div>
        </div>
    </main>
</div>