<div class="container">
    <div class="border">
        <div class="header-background">
            <span>Tema</span>
        </div>
        <form @submit.prevent="publish">
            <div class="title">
                <label for="title">Заглавие <span class="required">*задължително</span></label>
                <input 
                type="text"
                name="title"
                id="title"
                v-model="title">
                <template v-if="$v.title.$error">
                    <p class="error" v-if="!$v.title.required">
                        Title is required!
                    </p>
                </template>
            </div>
            <div class="content">
                <label for="content">Съдържание <span class="required">*задължително</span></label>
                <vue-editor 
                class="editor"
                v-model="content"
                ></vue-editor>
                <template v-if="$v.content.$error">
                    <p class="error" v-if="!$v.content.required">
                        Content is required!
                    </p>
                </template>
            </div>
            <div class="buttons">
                <button class="cancel" @click.prevent="clear">Откажи</button>
                <button class="public">Публикувай</button>
            </div>
        </form>
    </div>
</div>