<div>
  <header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <a href="#" class="logo"><span class="logo">Магеланци</span></a>
      </div>
      <div class="mini-navbar">
        <ul>
          <li>
            <router-link to="/login" v-if="!isAuth">Вход</router-link>
          </li>
          <li>
            <router-link to="/register" v-if="!isAuth">Регистрация</router-link>
          </li>
          <li>
            <a href="" @click="onLogout" v-if="isAuth">Изход</a>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <router-link to="/home">Начало</router-link>
        </li>
        <li>
          <router-link to="/forum">Форум</router-link>
        </li>
      </ul>
    </nav>
  </header>
</div>