<div>
  <header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <a href="#" class="logo"><span class="logo">Магеланци</span></a>
      </div>
      <div class="mini-navbar">
        <ul>
          <li>
            <router-link to="/login">Вход</router-link>
          </li>
          <li>
            <router-link to="/register">Регистрация</router-link>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#">Начало</a>
        </li>
        <li>
          <a href="#">Форуми</a>
        </li>
      </ul>
    </nav>
  </header>
</div>