<div>
  <header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <a href="#" class="logo"><span class="logo">Магеланци</span></a>
      </div>
      <div class="mini-navbar">
        <ul>
          <li v-if="!isAuth">
            <router-link to="/login">Вход</router-link>
          </li>
          <li v-if="!isAuth">
            <router-link to="/register">Регистрация</router-link>
          </li>
          <li v-if="isAuth">
            <a href="" @click="onLogout" >Изход</a>
          </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <router-link to="/home">Начало</router-link>
        </li>
        <li>
          <router-link to="/forum">Форум</router-link>
        </li>
      </ul>
    </nav>
  </header>
</div>