<form action="" method="post" @submit.prevent="onLogin">

    <fieldset>
        <h2>Login Form</h2>

        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input 
            type="email" 
            name="email" 
            id="email" 
            v-bind:class="{error: !$v.email.required || !$v.email.email}"
            placeholder="marg@gmial.com" 
            v-model="email">
        </p>
        <template v-if="$v.email.$error">
            <p class="error" v-if="!$v.email.required">
                Email is required!
            </p>
            <p class="error" v-if="!$v.email.email">
                Email is not valid!
            </p>
        </template>
        


        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input 
            type="password" 
            name="password" 
            id="password" 
            v-bind:class="{error: !$v.password.required || !$v.password.minLength}"
            placeholder="******"
            v-model="password">
        </p>
        <template v-if="$v.password.$error">
            <p class="error" v-if="!$v.password.required">
                Password is required!
            </p>
            <p class="error" v-if="!$v.password.minLength">
                Password must be at least 4 characters!
            </p>
        </template>

        <button>Login</button>

        <p class="text-center">
            Have an account?
            <router-link to="/register">Register</router-link>
        </p>

    </fieldset>
</form>