<div class="container">
    <myPath />
    <main>
        <div class="main-width">
            <!-- welcome component -->
            <div class="welcome" @onAuth="isAuth = $event" v-if="!isAuth">
                <h3>Добре дошли!</h3>
                <p>Magelanci.com е общество на хора, завладени от магията на пътешествията. От първоначалната тръпка
                    до самолетния билет, планирането и самото пътуване – ние сме тук да си помагаме, споделяме и
                    съпреживяваме.</p>
                <div class="logged">
                    <ul>
                        <li>
                            <router-link to="/login">
                                <i class="fas fa-sign-in-alt"></i>
                                Вход
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/register">
                                <i class="fas fa-user-plus"></i>
                                Регистрация
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- theme component  -->
            <template v-for="theme in themes">
                <router-link to="/themecontent" class="normal">
                    <Theme 
                    v-bind:key="theme.themeId"
                    v-bind:theme="theme"
                    />
                </router-link>
            </template>
            <!-- <p v-for="t in themes" :key="t.themeId"></p> -->
        </div>
        <!-- aside component  -->
        <div class="aside">
            <div class="title">
                Последни мнения
            </div>
            <h3>Тема</h3>
            <p>Име</p>
            <p>последно преди: време</p>
        </div>
    </main>
</div>