<div class="container">
    <myPath/>
    <main>
        <div class="theme-title">
            <!-- welcome component -->
            <div class="welcome">
                <h3>Добре дошли!</h3>
                <p>Magelanci.com е общество на хора, завладени от магията на пътешествията. От първоначалната тръпка
                    до самолетния билет, планирането и самото пътуване – ние сме тук да си помагаме, споделяме и
                    съпреживяваме.</p>
                <div class="logged">
                    <button>
                        <i class="fas fa-sign-in-alt"></i>
                        Вход
                    </button>
                    <button>
                        <i class="fas fa-user-plus"></i>
                        Регистрация
                    </button>
                </div>
            </div>
            <!-- theme component  -->
            <div class="theme-name-wrapper">
                <div class="nick-name">
                    <p>Име 1</p>
                </div>
                <div class="theme-name">
                    <h2>Tema</h2>
                    <p><time>Дата</time></p>
                </div>
                <div class="followers">
                    <p>Последователи</p>
                </div>
            </div>
        </div>
        <!-- aside component  -->
        <div class="aside">
            <div class="title">
                Последни мнения
            </div>
            <h3>Тема</h3>
            <p>Име</p>
            <p>последно преди: време</p>
        </div>
    </main>
</div>