@import url('reset.css');
@import url('layout.css');
@import url('typography.css');
body {
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

/* header  */

header {
    background: rgb(0, 128, 182);
    background: linear-gradient(0deg, rgba(0, 128, 182, 1) 0%, rgba(0, 128, 182, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

ul {
    padding: 0;
    display: flex;
}

li {
    list-style: none;
    margin: .35em;
    padding: 0 .5em;
}

header a {
    text-decoration: none;
    color: white;
}

nav {
    border-top: 1px solid #00acf4;
}

.logo {
    font-size: 1.3em;
}

.logo-wrap {
    font-family: 'Parisienne', cursive;
    letter-spacing: .5em;
    margin: 0.5em 0;
}

.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

/* mini-navbar */

.mini-navbar ul {
    background-color: #6ba1b8;
    border-radius: 5px;
}

.mini-navbar ul li+li {
    border-left: 1px solid lightgrey;
    padding-left: .5em;
}

/* main  */

.container {
    width: 90%;
    margin: auto;
    padding-bottom: 4.5em;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* path  */

.path span+span:before {
    content: '->';
    padding: 1em;
}

.followers {
    align-self: flex-start;
}

.path {
    margin-top: 1em;
    padding: 0.3em 0.5em;
    border: 1px solid;
    border-radius: 0.3em;
    font-size: 0.8em;
}

/* title  */

.theme-title {
    margin: 0;
    padding: 0;
    flex-basis: 70%;
}

.theme-title * {
    margin: 0;
    padding: 0;
}

.theme-title p {
    font-style: normal;
}

.theme-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.5em;
    border: 1px solid;
    border-radius: 0.3em;
    font-size: 0.8em;
    margin-top: 1em;
}

/* welcome component */

.welcome {
    padding: 0.3em 0.5em;
    border: 1px solid;
    border-radius: 0.3em;
    font-size: 0.8em;
    margin-top: 1em;
}

.welcome h3 {
    background-color: #4ebced;
    border-radius: 0.3em;
    width: 100%;
    padding: 0.3em 1em;
}

.welcome p {
    padding: 1em;
    border-bottom: 1px solid;
}

.welcome button {
    background-color: #4ebced;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 5.2em;
    margin: 1em;
}

/* aside  */

.aside {
    flex-basis: 29%;
    border: 1px solid;
}

.aside {
    margin-top: 1em;
    padding: 0.3em 0.5em;
    border: 1px solid;
    border-radius: 0.3em;
    font-size: 0.8em;
}

.aside * {
    margin: 0;
    padding: 0;
}

.title {
    border-bottom: 1px solid;
    font-size: 1.5em;
}

/* footer  */

footer {
    background: rgb(0, 212, 255);
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1366px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    text-align: center;
}

footer span {
    font-size: 1.5em;
}

/* register */

form {
    margin-top: 1.5em;
    width: 40%;
    margin: 1em auto 0;
    text-align: center;
}

fieldset {
    border-radius: 0.3em;
    padding: 0.8em;
    background-color: #ffffff;
}

h2 {
    padding-top: 0;
}

p:last-child {
    padding-bottom: 0;
}

input {
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    border-left: 0.3em solid #42a948;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

select {
    border-color: black;
}

button {
    background-color: #4ebced;
    color: white;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    width: 60%;
}

i {
    border: 1px solid;
    border-right: none;
    padding: 0.55em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    background-color: #e9ecef;
}

a {
    color: #007bff;
}

.tel {
    padding-right: 0.8em;
}

form .field {
    display: flex;
}

/* if error */

p.error {
    text-align: left;
    background-color: #f8d7da;
    padding: 0.4em;
    border-radius: 0.3em;
}

input.error {
    border-left-color: #a8413f;
}