<div class="comment">
    <header>
        <p>{{comment.date | dateFormatter}}</p>
    </header>
    <div class="main">
        <div class="userdetails">
            <span>{{comment.user}}</span>
            <div>
                <img src="../../assets/user.png" alt="usericon">
            </div>
        </div>
        <div class="content">
            <p v-html=comment.content></p>
        </div>
    </div>
    <div class="footer">
        <button @click="like">
            <i class="fas fa-thumbs-up"></i>
        </button>
        <p>{{comment.likes}} likes</p>
    </div>
</div>