header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed;
}

.main {
    margin: 1em;
    display: flex;
}

.theme-title {
    width: 100%;
}

.comment {
    margin-top: 1em;
    border: 1px solid;
    border-radius: 0.3em;
    flex-basis: 80%;
    padding: 1em;
    width: 100%;
}

.comment p {
    padding-left: 1em;
}

.comment header p {
    // padding: 0.3em;
    text-align: center;
    // background-color: #ffffff;
    margin-right: 0;
}

.content {
    flex: 0 1 80%;
    width: 100%;
}

.content p {
    word-break: break-all;
}

.userdetails {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 0 20%;
}

.userdetails span {
    max-width:100%;
    margin-bottom: 1em;
}

.userdetails div {
    border: 1px solid;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.userdetails img {
    width: 80%;
    padding: 0;
    align-self: center;
    margin: 1em 0;
}

.footer {
    color: rgb(0, 128, 182);
    font-size: 1.5em;
    border-top: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em 0.5em 0 0;
}

.footer i {
    border: none;
}

.footer button {
    background-color: #ffffff;
    color:rgb(0, 128, 182);
    border: none;
}

.footer button:hover {
    cursor: pointer;
}

.footer p {
    padding: 0 1em;
}