<div class="comment">
    <header>
        <p>Публикувано - дата</p>
    </header>
    <div class="main">
        <div class="userdetails">
            <span>nickname</span>
            <div>
                <img src="../../assets/user.png" alt="usericon">
            </div>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facere sint dolorem quam,
                accusantium ipsa veniam laudantium inventore aut, tenetur quibusdam doloribus. Incidunt odio
                nostrum facilis ipsum dolorem deserunt illum?</p>
        </div>
    </div>
    <div class="footer">
        <button>
            <i class="fas fa-thumbs-up"></i>
        </button>
        <p>555 likes</p>
    </div>
</div>